<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Generated HTML">
    <div class="content" [innerHTML]="generatedHTML">
    </div>
  </mat-tab>
  <mat-tab label="AngularEditor">
    <div class="content">
      <app-angulareditor-page (htmlContent)="syncGeneratedHtml($event)"></app-angulareditor-page>
    </div>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>