<angular-editor [config]="editorConfig" [(ngModel)]="htmlWritted"></angular-editor>
<div class="container">
    <h5 class="html-header">Vista anticipada</h5>
    <div class="html" [innerHTML]="htmlWritted">
    </div>
</div>